@font-face {
  font-family: 'h-icon';
  src:  url('./h-icon.eot?1rbgpw');
  src:  url('./h-icon.eot?1rbgpw#iefix') format('embedded-opentype'),
    url('./h-icon.ttf?1rbgpw') format('truetype'),
    url('./h-icon.woff?1rbgpw') format('woff'),
    url('./h-icon.svg?1rbgpw#h-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="h-icon-"], [class*=" h-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'h-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-icon-arrows-expand:before {
  content: "\e910";
}
.h-icon-academic-cap:before {
  content: "\e900";
}
.h-icon-adjustments:before {
  content: "\e901";
  color: #4a5568;
}
.h-icon-annotation:before {
  content: "\e902";
  color: #4a5568;
}
.h-icon-archive:before {
  content: "\e903";
  color: #4a5568;
}
.h-icon-arrow-circle-down:before {
  content: "\e904";
  color: #4a5568;
}
.h-icon-arrow-circle-left:before {
  content: "\e905";
  color: #4a5568;
}
.h-icon-arrow-circle-right:before {
  content: "\e906";
  color: #4a5568;
}
.h-icon-arrow-circle-up:before {
  content: "\e907";
  color: #4a5568;
}
.h-icon-arrow-down:before {
  content: "\e908";
  color: #4a5568;
}
.h-icon-arrow-left:before {
  content: "\e909";
  color: #4a5568;
}
.h-icon-arrow-narrow-down:before {
  content: "\e90a";
  color: #4a5568;
}
.h-icon-arrow-narrow-left:before {
  content: "\e90b";
  color: #4a5568;
}
.h-icon-arrow-narrow-right:before {
  content: "\e90c";
  color: #4a5568;
}
.h-icon-arrow-narrow-up:before {
  content: "\e90d";
  color: #4a5568;
}
.h-icon-arrow-right:before {
  content: "\e90e";
  color: #4a5568;
}
.h-icon-arrow-up:before {
  content: "\e90f";
  color: #4a5568;
}
.h-icon-at-symbol:before {
  content: "\e911";
  color: #4a5568;
}
.h-icon-backspace:before {
  content: "\e912";
}
.h-icon-badge-check:before {
  content: "\e913";
  color: #4b5563;
}
.h-icon-ban:before {
  content: "\e914";
  color: #4b5563;
}
.h-icon-beaker:before {
  content: "\e915";
}
.h-icon-bell:before {
  content: "\e916";
  color: #4a5568;
}
.h-icon-book-open:before {
  content: "\e917";
  color: #4a5568;
}
.h-icon-bookmark-alt:before {
  content: "\e918";
  color: #4b5563;
}
.h-icon-bookmark:before {
  content: "\e919";
  color: #4a5568;
}
.h-icon-briefcase:before {
  content: "\e91a";
  color: #4a5568;
}
.h-icon-cake:before {
  content: "\e91b";
}
.h-icon-calculator:before {
  content: "\e91c";
}
.h-icon-calendar:before {
  content: "\e91d";
  color: #4a5568;
}
.h-icon-camera:before {
  content: "\e91e";
  color: #4a5568;
}
.h-icon-cash:before {
  content: "\e91f";
  color: #4a5568;
}
.h-icon-chart-bar:before {
  content: "\e920";
  color: #4b5563;
}
.h-icon-chart-pie:before {
  content: "\e921";
  color: #4a5568;
}
.h-icon-chart-square-bar:before {
  content: "\e922";
  color: #4b5563;
}
.h-icon-chat-alt-2:before {
  content: "\e923";
  color: #4b5563;
}
.h-icon-chat-alt:before {
  content: "\e924";
  color: #4b5563;
}
.h-icon-chat:before {
  content: "\e925";
  color: #4a5568;
}
.h-icon-check-circle:before {
  content: "\e926";
  color: #4a5568;
}
.h-icon-check:before {
  content: "\e927";
  color: #4a5568;
}
.h-icon-chevron-double-down:before {
  content: "\e928";
}
.h-icon-chevron-double-left:before {
  content: "\e929";
}
.h-icon-chevron-double-right:before {
  content: "\e92a";
}
.h-icon-chevron-double-up:before {
  content: "\e92b";
}
.h-icon-chevron-down:before {
  content: "\e92c";
  color: #4a5568;
}
.h-icon-chevron-left:before {
  content: "\e92d";
  color: #4a5568;
}
.h-icon-chevron-right:before {
  content: "\e92e";
  color: #4a5568;
}
.h-icon-chevron-up:before {
  content: "\e92f";
  color: #4a5568;
}
.h-icon-chip:before {
  content: "\e930";
}
.h-icon-clipboard-check:before {
  content: "\e931";
  color: #4a5568;
}
.h-icon-clipboard-copy:before {
  content: "\e932";
  color: #4a5568;
}
.h-icon-clipboard-list:before {
  content: "\e933";
  color: #4a5568;
}
.h-icon-clipboard:before {
  content: "\e934";
  color: #4a5568;
}
.h-icon-clock:before {
  content: "\e935";
  color: #4a5568;
}
.h-icon-cloud-download:before {
  content: "\e936";
}
.h-icon-cloud-upload:before {
  content: "\e937";
}
.h-icon-cloud:before {
  content: "\e938";
}
.h-icon-code:before {
  content: "\e939";
  color: #4a5568;
}
.h-icon-cog:before {
  content: "\e93a";
  color: #4a5568;
}
.h-icon-collection:before {
  content: "\e93b";
  color: #4a5568;
}
.h-icon-color-swatch:before {
  content: "\e93c";
  color: #4a5568;
}
.h-icon-credit-card:before {
  content: "\e93d";
  color: #4a5568;
}
.h-icon-cube-transparent:before {
  content: "\e93e";
}
.h-icon-cube:before {
  content: "\e93f";
}
.h-icon-currency-bangladeshi:before {
  content: "\e940";
}
.h-icon-currency-dollar:before {
  content: "\e941";
  color: #4a5568;
}
.h-icon-currency-euro:before {
  content: "\e942";
  color: #4a5568;
}
.h-icon-currency-pound:before {
  content: "\e943";
  color: #4a5568;
}
.h-icon-currency-rupee:before {
  content: "\e944";
  color: #4a5568;
}
.h-icon-currency-yen:before {
  content: "\e945";
  color: #4a5568;
}
.h-icon-cursor-click:before {
  content: "\e946";
  color: #4b5563;
}
.h-icon-database:before {
  content: "\e947";
}
.h-icon-desktop-computer:before {
  content: "\e948";
  color: #4b5563;
}
.h-icon-device-mobile:before {
  content: "\e949";
}
.h-icon-device-tablet:before {
  content: "\e94a";
}
.h-icon-document-add:before {
  content: "\e94b";
  color: #4a5568;
}
.h-icon-document-download:before {
  content: "\e94c";
  color: #4a5568;
}
.h-icon-document-duplicate:before {
  content: "\e94d";
  color: #4a5568;
}
.h-icon-document-remove:before {
  content: "\e94e";
  color: #4a5568;
}
.h-icon-document-report:before {
  content: "\e94f";
  color: #4b5563;
}
.h-icon-document-search:before {
  content: "\e950";
}
.h-icon-document-text:before {
  content: "\e951";
}
.h-icon-document:before {
  content: "\e952";
  color: #4a5568;
}
.h-icon-dots-circle-horizontal:before {
  content: "\e953";
  color: #4a5568;
}
.h-icon-dots-horizontal:before {
  content: "\e954";
  color: #4a5568;
}
.h-icon-dots-vertical:before {
  content: "\e955";
  color: #4a5568;
}
.h-icon-download:before {
  content: "\e956";
  color: #4a5568;
}
.h-icon-duplicate:before {
  content: "\e957";
  color: #4a5568;
}
.h-icon-emoji-happy:before {
  content: "\e958";
  color: #4a5568;
}
.h-icon-emoji-sad:before {
  content: "\e959";
  color: #4a5568;
}
.h-icon-exclamation-circle:before {
  content: "\e95a";
  color: #4a5568;
}
.h-icon-exclamation:before {
  content: "\e95b";
  color: #4a5568;
}
.h-icon-external-link:before {
  content: "\e95c";
  color: #4a5568;
}
.h-icon-eye-off:before {
  content: "\e95d";
  color: #4b5563;
}
.h-icon-eye:before {
  content: "\e95e";
  color: #4a5568;
}
.h-icon-fast-forward:before {
  content: "\e95f";
}
.h-icon-film:before {
  content: "\e960";
}
.h-icon-filter:before {
  content: "\e961";
  color: #4a5568;
}
.h-icon-finger-print:before {
  content: "\e962";
}
.h-icon-fire:before {
  content: "\e963";
}
.h-icon-flag:before {
  content: "\e964";
  color: #4a5568;
}
.h-icon-folder-open:before {
  content: "\e967";
}
.h-icon-folder:before {
  content: "\e969";
  color: #4a5568;
}
.h-icon-gift:before {
  content: "\e96a";
}
.h-icon-globe-alt:before {
  content: "\e96b";
  color: #4a5568;
}
.h-icon-globe:before {
  content: "\e96c";
  color: #4a5568;
}
.h-icon-hand:before {
  content: "\e96d";
}
.h-icon-hashtag:before {
  content: "\e96e";
  color: #4a5568;
}
.h-icon-heart:before {
  content: "\e96f";
  color: #4a5568;
}
.h-icon-home:before {
  content: "\e970";
  color: #4a5568;
}
.h-icon-identification:before {
  content: "\e971";
}
.h-icon-inbox-in:before {
  content: "\e972";
  color: #4a5568;
}
.h-icon-inbox:before {
  content: "\e973";
  color: #4a5568;
}
.h-icon-information-circle:before {
  content: "\e974";
  color: #4a5568;
}
.h-icon-key:before {
  content: "\e975";
  color: #4b5563;
}
.h-icon-library:before {
  content: "\e976";
  color: #4b5563;
}
.h-icon-light-bulb:before {
  content: "\e977";
  color: #4a5568;
}
.h-icon-lightning-bolt:before {
  content: "\e978";
  color: #4a5568;
}
.h-icon-link:before {
  content: "\e979";
  color: #4a5568;
}
.h-icon-location-marker:before {
  content: "\e97a";
  color: #4a5568;
}
.h-icon-lock-closed:before {
  content: "\e97b";
  color: #4a5568;
}
.h-icon-lock-open:before {
  content: "\e97c";
  color: #4a5568;
}
.h-icon-login:before {
  content: "\e97d";
}
.h-icon-logout:before {
  content: "\e97e";
}
.h-icon-mail-open:before {
  content: "\e97f";
  color: #4a5568;
}
.h-icon-mail:before {
  content: "\e980";
  color: #4a5568;
}
.h-icon-map:before {
  content: "\e981";
}
.h-icon-menu-alt-1:before {
  content: "\e982";
  color: #4a5568;
}
.h-icon-menu-alt-2:before {
  content: "\e983";
  color: #4a5568;
}
.h-icon-menu-alt-3:before {
  content: "\e984";
  color: #4a5568;
}
.h-icon-menu-alt-4:before {
  content: "\e985";
  color: #4a5568;
}
.h-icon-menu:before {
  content: "\e986";
  color: #4a5568;
}
.h-icon-microphone:before {
  content: "\e987";
  color: #4b5563;
}
.h-icon-minus-circle:before {
  content: "\e988";
  color: #4a5568;
}
.h-icon-minus-sm:before {
  content: "\e989";
}
.h-icon-minus:before {
  content: "\e98a";
}
.h-icon-moon:before {
  content: "\e98b";
  color: #4a5568;
}
.h-icon-music-note:before {
  content: "\e98c";
}
.h-icon-newspaper:before {
  content: "\e98d";
  color: #4b5563;
}
.h-icon-office-building:before {
  content: "\e98e";
  color: #4a5568;
}
.h-icon-paper-airplane:before {
  content: "\e98f";
}
.h-icon-paper-clip:before {
  content: "\e990";
  color: #4a5568;
}
.h-icon-pause:before {
  content: "\e991";
  color: #4b5563;
}
.h-icon-pencil-alt:before {
  content: "\e992";
  color: #4a5568;
}
.h-icon-pencil:before {
  content: "\e993";
  color: #4a5568;
}
.h-icon-phone-incoming:before {
  content: "\e994";
  color: #4a5568;
}
.h-icon-phone-missed-call:before {
  content: "\e995";
}
.h-icon-phone-outgoing:before {
  content: "\e996";
  color: #4a5568;
}
.h-icon-phone:before {
  content: "\e997";
  color: #4a5568;
}
.h-icon-photograph:before {
  content: "\e998";
  color: #4a5568;
}
.h-icon-play:before {
  content: "\e999";
  color: #4b5563;
}
.h-icon-plus-circle:before {
  content: "\e99a";
  color: #4a5568;
}
.h-icon-plus-sm:before {
  content: "\e99b";
}
.h-icon-plus:before {
  content: "\e99c";
}
.h-icon-presentation-chart-bar:before {
  content: "\e99d";
}
.h-icon-presentation-chart-line:before {
  content: "\e99e";
}
.h-icon-printer:before {
  content: "\e99f";
  color: #4a5568;
}
.h-icon-puzzle:before {
  content: "\e9a0";
}
.h-icon-qrcode:before {
  content: "\e9a1";
  color: #4a5568;
}
.h-icon-question-mark-circle:before {
  content: "\e9a2";
  color: #4a5568;
}
.h-icon-receipt-refund:before {
  content: "\e9a3";
  color: #4a5568;
}
.h-icon-receipt-tax:before {
  content: "\e9a4";
}
.h-icon-refresh:before {
  content: "\e9a5";
  color: #4a5568;
}
.h-icon-reply:before {
  content: "\e9a6";
  color: #4a5568;
}
.h-icon-rewind:before {
  content: "\e9a7";
}
.h-icon-rss:before {
  content: "\e9a8";
}
.h-icon-save-as:before {
  content: "\e9a9";
}
.h-icon-save:before {
  content: "\e9aa";
}
.h-icon-scale:before {
  content: "\e9ab";
  color: #4a5568;
}
.h-icon-scissors:before {
  content: "\e9ac";
}
.h-icon-search-circle:before {
  content: "\e9ad";
}
.h-icon-search:before {
  content: "\e9ae";
  color: #4a5568;
}
.h-icon-selector:before {
  content: "\e9af";
  color: #4a5568;
}
.h-icon-server:before {
  content: "\e9b0";
}
.h-icon-share:before {
  content: "\e9b1";
  color: #4a5568;
}
.h-icon-shield-check:before {
  content: "\e9b2";
  color: #4a5568;
}
.h-icon-shield-exclamation:before {
  content: "\e9b3";
  color: #4a5568;
}
.h-icon-shopping-bag:before {
  content: "\e9b4";
}
.h-icon-shopping-cart:before {
  content: "\e9b5";
  color: #4b5563;
}
.h-icon-sort-ascending:before {
  content: "\e9b6";
  color: #4a5568;
}
.h-icon-sort-descending:before {
  content: "\e9b7";
  color: #4a5568;
}
.h-icon-sparkles:before {
  content: "\e9b8";
  color: #4a5568;
}
.h-icon-speakerphone:before {
  content: "\e9b9";
  color: #4b5563;
}
.h-icon-star:before {
  content: "\e9ba";
  color: #4b5563;
}
.h-icon-status-offline:before {
  content: "\e9bb";
}
.h-icon-status-online:before {
  content: "\e9bc";
}
.h-icon-stop:before {
  content: "\e9bd";
  color: #4b5563;
}
.h-icon-sun:before {
  content: "\e9be";
  color: #4a5568;
}
.h-icon-support:before {
  content: "\e9bf";
  color: #4b5563;
}
.h-icon-switch-horizontal:before {
  content: "\e9c0";
  color: #4a5568;
}
.h-icon-switch-vertical:before {
  content: "\e9c1";
  color: #4a5568;
}
.h-icon-table:before {
  content: "\e9c2";
}
.h-icon-tag:before {
  content: "\e9c3";
  color: #4a5568;
}
.h-icon-template:before {
  content: "\e9c4";
  color: #4a5568;
}
.h-icon-terminal:before {
  content: "\e9c5";
  color: #4b5563;
}
.h-icon-thumb-down:before {
  content: "\e9c6";
}
.h-icon-thumb-up:before {
  content: "\e9c7";
}
.h-icon-ticket:before {
  content: "\e9c8";
  color: #4a5568;
}
.h-icon-translate:before {
  content: "\e9c9";
  color: #4a5568;
}
.h-icon-trash:before {
  content: "\e9ca";
  color: #4a5568;
}
.h-icon-trending-down:before {
  content: "\e9cb";
  color: #4a5568;
}
.h-icon-trending-up:before {
  content: "\e9cc";
  color: #4a5568;
}
.h-icon-truck:before {
  content: "\e9cd";
}
.h-icon-upload:before {
  content: "\e9ce";
  color: #4a5568;
}
.h-icon-user-add:before {
  content: "\e9cf";
  color: #4a5568;
}
.h-icon-user-circle:before {
  content: "\e9d0";
  color: #4a5568;
}
.h-icon-user-group:before {
  content: "\e9d1";
  color: #4a5568;
}
.h-icon-user-remove:before {
  content: "\e9d2";
  color: #4a5568;
}
.h-icon-user:before {
  content: "\e9d3";
  color: #4a5568;
}
.h-icon-users:before {
  content: "\e9d4";
  color: #4a5568;
}
.h-icon-variable:before {
  content: "\e9d5";
}
.h-icon-video-camera:before {
  content: "\e9d6";
}
.h-icon-view-boards:before {
  content: "\e9d7";
  color: #4a5568;
}
.h-icon-view-grid-add:before {
  content: "\e9d8";
  color: #4b5563;
}
.h-icon-view-grid:before {
  content: "\e9d9";
}
.h-icon-view-list:before {
  content: "\e9da";
  color: #4a5568;
}
.h-icon-volume-off:before {
  content: "\e9db";
  color: #4a5568;
}
.h-icon-volume-up:before {
  content: "\e9dc";
  color: #4a5568;
}
.h-icon-wifi:before {
  content: "\e9dd";
}
.h-icon-x-circle:before {
  content: "\e9de";
  color: #4a5568;
}
.h-icon-x:before {
  content: "\e9df";
  color: #4a5568;
}
.h-icon-zoom-in:before {
  content: "\e9e0";
  color: #4a5568;
}
.h-icon-zoom-out:before {
  content: "\e9e1";
  color: #4a5568;
}
