@font-face {
  font-family: 'hui';
  src:  url('fonts/hui.eot?4i1zg9');
  src:  url('fonts/hui.eot?4i1zg9#iefix') format('embedded-opentype'),
    url('fonts/hui.ttf?4i1zg9') format('truetype'),
    url('fonts/hui.woff?4i1zg9') format('woff'),
    url('fonts/hui.svg?4i1zg9#hui') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="h-icon-"], [class*=" h-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hui' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-icon-alert-16:before {
  content: "\e900";
}
.h-icon-archive-16:before {
  content: "\e901";
}
.h-icon-arrow-both-16:before {
  content: "\e902";
}
.h-icon-arrow-down-16:before {
  content: "\e903";
}
.h-icon-arrow-left-16:before {
  content: "\e904";
}
.h-icon-arrow-right-16:before {
  content: "\e905";
}
.h-icon-arrow-up-16:before {
  content: "\e906";
}
.h-icon-beaker-16:before {
  content: "\e907";
}
.h-icon-bell-16:before {
  content: "\e908";
}
.h-icon-bell-slash-16:before {
  content: "\e909";
}
.h-icon-bold-16:before {
  content: "\e90a";
}
.h-icon-book-16:before {
  content: "\e90b";
}
.h-icon-bookmark-16:before {
  content: "\e90c";
}
.h-icon-bookmark-slash-16:before {
  content: "\e90d";
}
.h-icon-briefcase-16:before {
  content: "\e90e";
}
.h-icon-broadcast-16:before {
  content: "\e90f";
}
.h-icon-browser-16:before {
  content: "\e910";
}
.h-icon-bug-16:before {
  content: "\e911";
}
.h-icon-calendar-16:before {
  content: "\e912";
}
.h-icon-check-16:before {
  content: "\e913";
}
.h-icon-check-circle-16:before {
  content: "\e914";
}
.h-icon-check-circle-fill-16:before {
  content: "\e915";
}
.h-icon-checklist-16:before {
  content: "\e916";
}
.h-icon-chevron-down-16:before {
  content: "\e917";
}
.h-icon-chevron-left-16:before {
  content: "\e918";
}
.h-icon-chevron-right-16:before {
  content: "\e919";
}
.h-icon-chevron-up-16:before {
  content: "\e91a";
}
.h-icon-circle-slash-16:before {
  content: "\e91b";
}
.h-icon-clippy-16:before {
  content: "\e91c";
}
.h-icon-clock-16:before {
  content: "\e91d";
}
.h-icon-code-16:before {
  content: "\e91e";
}
.h-icon-code-review-16:before {
  content: "\e91f";
}
.h-icon-code-square-16:before {
  content: "\e920";
}
.h-icon-comment-16:before {
  content: "\e921";
}
.h-icon-comment-discussion-16:before {
  content: "\e922";
}
.h-icon-cpu-16:before {
  content: "\e923";
}
.h-icon-credit-card-16:before {
  content: "\e924";
}
.h-icon-cross-reference-16:before {
  content: "\e925";
}
.h-icon-dash-16:before {
  content: "\e926";
}
.h-icon-database-16:before {
  content: "\e927";
}
.h-icon-desktop-download-16:before {
  content: "\e928";
}
.h-icon-device-camera-16:before {
  content: "\e929";
}
.h-icon-device-camera-video-16:before {
  content: "\e92a";
}
.h-icon-device-desktop-16:before {
  content: "\e92b";
}
.h-icon-device-mobile-16:before {
  content: "\e92c";
}
.h-icon-diff-16:before {
  content: "\e92d";
}
.h-icon-diff-added-16:before {
  content: "\e92e";
}
.h-icon-diff-ignored-16:before {
  content: "\e92f";
}
.h-icon-diff-modified-16:before {
  content: "\e930";
}
.h-icon-diff-removed-16:before {
  content: "\e931";
}
.h-icon-diff-renamed-16:before {
  content: "\e932";
}
.h-icon-dot-16:before {
  content: "\e933";
}
.h-icon-dot-fill-16:before {
  content: "\e934";
}
.h-icon-download-16:before {
  content: "\e935";
}
.h-icon-ellipsis-16:before {
  content: "\e936";
}
.h-icon-eye-16:before {
  content: "\e937";
}
.h-icon-eye-closed-16:before {
  content: "\e938";
}
.h-icon-file-16:before {
  content: "\e939";
}
.h-icon-file-binary-16:before {
  content: "\e93a";
}
.h-icon-file-code-16:before {
  content: "\e93b";
}
.h-icon-file-diff-16:before {
  content: "\e93c";
}
.h-icon-file-directory-16:before {
  content: "\e93d";
}
.h-icon-file-submodule-16:before {
  content: "\e93e";
}
.h-icon-file-symlink-file-16:before {
  content: "\e93f";
}
.h-icon-file-zip-16:before {
  content: "\e940";
}
.h-icon-filter-16:before {
  content: "\e941";
}
.h-icon-flame-16:before {
  content: "\e942";
}
.h-icon-fold-16:before {
  content: "\e943";
}
.h-icon-fold-down-16:before {
  content: "\e944";
}
.h-icon-fold-up-16:before {
  content: "\e945";
}
.h-icon-gear-16:before {
  content: "\e946";
}
.h-icon-gift-16:before {
  content: "\e947";
}
.h-icon-git-branch-16:before {
  content: "\e948";
}
.h-icon-git-commit-16:before {
  content: "\e949";
}
.h-icon-git-compare-16:before {
  content: "\e94a";
}
.h-icon-git-merge-16:before {
  content: "\e94b";
}
.h-icon-git-pull-request-16:before {
  content: "\e94c";
}
.h-icon-globe-16:before {
  content: "\e94d";
}
.h-icon-grabber-16:before {
  content: "\e94e";
}
.h-icon-graph-16:before {
  content: "\e94f";
}
.h-icon-heading-16:before {
  content: "\e950";
}
.h-icon-heart-16:before {
  content: "\e951";
}
.h-icon-heart-fill-16:before {
  content: "\e952";
}
.h-icon-history-16:before {
  content: "\e953";
}
.h-icon-home-16:before {
  content: "\e954";
}
.h-icon-horizontal-rule-16:before {
  content: "\e955";
}
.h-icon-hourglass-16:before {
  content: "\e956";
}
.h-icon-hubot-16:before {
  content: "\e957";
}
.h-icon-image-16:before {
  content: "\e958";
}
.h-icon-inbox-16:before {
  content: "\e959";
}
.h-icon-infinity-16:before {
  content: "\e95a";
}
.h-icon-info-16:before {
  content: "\e95b";
}
.h-icon-issue-closed-16:before {
  content: "\e95c";
}
.h-icon-issue-opened-16:before {
  content: "\e95d";
}
.h-icon-issue-reopened-16:before {
  content: "\e95e";
}
.h-icon-italic-16:before {
  content: "\e95f";
}
.h-icon-kebab-horizontal-16:before {
  content: "\e960";
}
.h-icon-key-16:before {
  content: "\e961";
}
.h-icon-law-16:before {
  content: "\e962";
}
.h-icon-light-bulb-16:before {
  content: "\e963";
}
.h-icon-link-16:before {
  content: "\e964";
}
.h-icon-link-external-16:before {
  content: "\e965";
}
.h-icon-list-ordered-16:before {
  content: "\e966";
}
.h-icon-list-unordered-16:before {
  content: "\e967";
}
.h-icon-location-16:before {
  content: "\e968";
}
.h-icon-lock-16:before {
  content: "\e969";
}
.h-icon-mail-16:before {
  content: "\e96a";
}
.h-icon-markdown-16:before {
  content: "\e96b";
}
.h-icon-mark-github-16:before {
  content: "\e96c";
}
.h-icon-megaphone-16:before {
  content: "\e96d";
}
.h-icon-mention-16:before {
  content: "\e96e";
}
.h-icon-meter-16:before {
  content: "\e96f";
}
.h-icon-milestone-16:before {
  content: "\e970";
}
.h-icon-mirror-16:before {
  content: "\e971";
}
.h-icon-moon-16:before {
  content: "\e972";
}
.h-icon-mortar-board-16:before {
  content: "\e973";
}
.h-icon-mute-16:before {
  content: "\e974";
}
.h-icon-no-entry-16:before {
  content: "\e975";
}
.h-icon-north-star-16:before {
  content: "\e976";
}
.h-icon-note-16:before {
  content: "\e977";
}
.h-icon-organization-16:before {
  content: "\e978";
}
.h-icon-package-16:before {
  content: "\e979";
}
.h-icon-package-dependencies-16:before {
  content: "\e97a";
}
.h-icon-package-dependents-16:before {
  content: "\e97b";
}
.h-icon-paintbrush-16:before {
  content: "\e97c";
}
.h-icon-paper-airplane-16:before {
  content: "\e97d";
}
.h-icon-pencil-16:before {
  content: "\e97e";
}
.h-icon-people-16:before {
  content: "\e97f";
}
.h-icon-person-16:before {
  content: "\e980";
}
.h-icon-pin-16:before {
  content: "\e981";
}
.h-icon-play-16:before {
  content: "\e982";
}
.h-icon-plug-16:before {
  content: "\e983";
}
.h-icon-plus-16:before {
  content: "\e984";
}
.h-icon-plus-circle-16:before {
  content: "\e985";
}
.h-icon-project-16:before {
  content: "\e986";
}
.h-icon-pulse-16:before {
  content: "\e987";
}
.h-icon-question-16:before {
  content: "\e988";
}
.h-icon-quote-16:before {
  content: "\e989";
}
.h-icon-reply-16:before {
  content: "\e98a";
}
.h-icon-repo-16:before {
  content: "\e98b";
}
.h-icon-repo-clone-16:before {
  content: "\e98c";
}
.h-icon-repo-forked-16:before {
  content: "\e98d";
}
.h-icon-repo-pull-16:before {
  content: "\e98e";
}
.h-icon-repo-push-16:before {
  content: "\e98f";
}
.h-icon-report-16:before {
  content: "\e990";
}
.h-icon-repo-template-16:before {
  content: "\e991";
}
.h-icon-rocket-16:before {
  content: "\e992";
}
.h-icon-rss-16:before {
  content: "\e993";
}
.h-icon-ruby-16:before {
  content: "\e994";
}
.h-icon-screen-full-16:before {
  content: "\e995";
}
.h-icon-screen-normal-16:before {
  content: "\e996";
}
.h-icon-search-16:before {
  content: "\e997";
}
.h-icon-server-16:before {
  content: "\e998";
}
.h-icon-share-16:before {
  content: "\e999";
}
.h-icon-share-android-16:before {
  content: "\e99a";
}
.h-icon-shield-16:before {
  content: "\e99b";
}
.h-icon-shield-check-16:before {
  content: "\e99c";
}
.h-icon-shield-lock-16:before {
  content: "\e99d";
}
.h-icon-shield-x-16:before {
  content: "\e99e";
}
.h-icon-sign-in-16:before {
  content: "\e99f";
}
.h-icon-sign-out-16:before {
  content: "\e9a0";
}
.h-icon-skip-16:before {
  content: "\e9a1";
}
.h-icon-smiley-16:before {
  content: "\e9a2";
}
.h-icon-square-16:before {
  content: "\e9a3";
}
.h-icon-square-fill-16:before {
  content: "\e9a4";
}
.h-icon-squirrel-16:before {
  content: "\e9a5";
}
.h-icon-star-16:before {
  content: "\e9a6";
}
.h-icon-star-fill-16:before {
  content: "\e9a7";
}
.h-icon-stop-16:before {
  content: "\e9a8";
}
.h-icon-stopwatch-16:before {
  content: "\e9a9";
}
.h-icon-sun-16:before {
  content: "\e9aa";
}
.h-icon-sync-16:before {
  content: "\e9ab";
}
.h-icon-tag-16:before {
  content: "\e9ac";
}
.h-icon-tasklist-16:before {
  content: "\e9ad";
}
.h-icon-telescope-16:before {
  content: "\e9ae";
}
.h-icon-terminal-16:before {
  content: "\e9af";
}
.h-icon-three-bars-16:before {
  content: "\e9b0";
}
.h-icon-thumbsdown-16:before {
  content: "\e9b1";
}
.h-icon-thumbsup-16:before {
  content: "\e9b2";
}
.h-icon-tools-16:before {
  content: "\e9b3";
}
.h-icon-trashcan-16:before {
  content: "\e9b4";
}
.h-icon-triangle-down-16:before {
  content: "\e9b5";
}
.h-icon-triangle-left-16:before {
  content: "\e9b6";
}
.h-icon-triangle-right-16:before {
  content: "\e9b7";
}
.h-icon-triangle-up-16:before {
  content: "\e9b8";
}
.h-icon-typography-16:before {
  content: "\e9b9";
}
.h-icon-unfold-16:before {
  content: "\e9ba";
}
.h-icon-unlock-16:before {
  content: "\e9bb";
}
.h-icon-unmute-16:before {
  content: "\e9bc";
}
.h-icon-unverified-16:before {
  content: "\e9bd";
}
.h-icon-upload-16:before {
  content: "\e9be";
}
.h-icon-verified-16:before {
  content: "\e9bf";
}
.h-icon-versions-16:before {
  content: "\e9c0";
}
.h-icon-workflow-16:before {
  content: "\e9c1";
}
.h-icon-x-16:before {
  content: "\e9c2";
}
.h-icon-zap-16:before {
  content: "\e9c3";
}
